:root {
    --theme-color: aliceblue;
    --shadow-color: gray;
    --text-color: black;
}

body {
    overflow-x: hidden  ;
    padding: 0;
    margin: 0;
    background-color: var(--theme-color);
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    gap: 16px;
}

.header {
    background-color: var(--theme-color);
    box-shadow: 0 0 8px 2px var(--shadow-color);
    color: var(var(--text-color));
    font-size: large;
    margin: 0;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        margin-right: 48px;
        box-shadow: 0 0 12px var(--shadow-color);
        position: fixed;
        border: none;
        top: 88vh;
        left: 94vw;
        font-size: 40px;
        color: var(var(--text-color));
        background-color: var(--theme-color);
        &:focus {
            box-shadow: 0 0 14px var(--shadow-color);
        }
    }
}

dialog {
    border-radius: 2%;
    border: none;
    box-shadow: 0 0  16px var(--shadow-color);
    background-color: var(--theme-color);
    color: black;
    form {
        border: none;
    legend {text-align: center;color: var(var(--text-color));}
    fieldset {
        background-color: var(--theme-color);
        color: var(var(--text-color));
        display: flex;
        border: none;
        flex-direction: column;
        justify-content: space-evenly;
        height: 500px;
        width: 300px;
        button {
            width: 100px;
            align-self: center;
            background-color: var(--theme-color);
            border-radius: 32px;
            color: var(var(--text-color));
            padding: 8px;
            border: none    ;
            box-shadow: 0 0 8px var(--shadow-color);
        }
        p {
            display: flex;
            flex-direction: column;
            gap: 8px;
        label {
            font-size: large;
        }
        input {
         padding: 8px;
         background-color: var(--theme-color);
         border: none;
         box-shadow: inset 0 0 3px var(--shadow-color);   
        }
}
}
}
}


