@keyframes loadElement {
    0% {
        box-shadow: none;
    }
    60% {
        box-shadow: 1px 1px 3px var(--shadow-color), -1px -1px 3px var(--shine-color);

    }
    80% {
        box-shadow: 3px 3px 6px var(--shadow-color), -3px -3px 6px var(--shine-color);
    }
    100% {
        box-shadow: var(--focus-shadow);
    }
}

@keyframes addBook {
    0% {
        box-shadow: none;
    }
    60% {
        box-shadow: var(--box-shadow);
        background: var(--bg-convex);
    }
    80% {
        background: var(--bg-convex);
        box-shadow: var(--focus-shadow);
    }
    100% {
        box-shadow: var(--focus-shadow);
    }
}

@keyframes removeBook {
    0% {
        opacity: 1;
        box-shadow: var(--focus-shadow);
    }
    40% {
        box-shadow: 3px 3px 6px var(--shadow-color), -3px -3px 6px var(--shine-color);
        opacity: 0.8;
    }
    60% {
        opacity: 0.6;
        box-shadow: 1px 1px 3px var(--shadow-color), -1px -1px 3px var(--shine-color);
    }
    80% {
        opacity: 0.3;
        box-shadow: none;
    }
    100% {
        opacity: 0.1;
        box-shadow: none;
    }
}

@keyframes closeDialog {
    0% {
        opacity: 1;
        box-shadow: var(--focus-shadow);
    }
    60% {
        opacity: 0.6;
        box-shadow: 3px 3px 6px var(--shadow-color), -3px -3px 6px var(--shine-color);
    }
    80% {
        opacity: 0.3;
        box-shadow: 1px 1px 3px var(--shadow-color), -1px -1px 3px var(--shine-color);
    }
    100% {
        opacity: 0;
        box-shadow: none;
    }
}

.book {
            padding: 8px;
            width: 300px;
            height: 200px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            background: var(--bg-convex);
            color: var(--text-color);
            box-shadow: var(--focus-shadow);
            transition: all 300ms ease;
        }

        .book.book-new {
            animation: addBook 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
        }

        .book.book-remove {
            animation: removeBook 0.3s ease forwards;
        }

:root {
    --theme-color: #e0e0e0;
    --shadow-color: gray;
    --text-color: black;
    --shine-color: white;
    --remove-color: rgba(244, 42, 42, 0.7);
    --positive-color: rgba(1, 120, 1, 0.984);
    --blue: rgb(12, 6, 100);
    --yellow: rgb(221, 145, 3);
    --x-padding: 8px 12px;
    --bg-concave: linear-gradient(145deg, #cacaca, #f0f0f0);
    --bg-convex: linear-gradient(145deg, #f0f0f0, #cacaca);
    --focus-shadow: 5px 5px 10px var(--shadow-color), -5px -5px 10px var(--shine-color);
    --box-shadow: 10px 10px 20px var(--shadow-color), -10px -10px 20px var(--shine-color);
    --inset-shadow: inset 2px 2px 4px #5a5a5a, inset -2px -2px 4px var(--shine-color);
    --loadElement: loadElement 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) both;
}

[data-theme="dark"] {
    --theme-color: #212121;
    --shadow-color: #161616;
    --shine-color: #353535;
    --text-color: white;
    --remove-color: rgb(184, 0, 0);
    --positive-color: rgb(36, 119, 0);
    --blue: rgb(60, 0, 255);
    --yellow: rgb(134, 91, 13);
    --bg-convex: linear-gradient(145deg, #232323, #1e1e1e);
    --bg-concave: linear-gradient(145deg, #1e1e1e, #232323);
    --focus-shadow: 5px 5px 10px var(--shadow-color), -5px -5px 10px var(--shine-color);
    --box-shadow: 10px 10px 20px var(--shadow-color), -10px -10px 20px var(--shine-color);
    --inset-shadow: inset 2px 2px 4px #0d0d0d, inset -2px -2px 4px #353535;
    --loadElement: loadElement 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) both;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: var(--theme-color);
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    gap: 36px;
}

.header {
    background-color: var(--theme-color);
    box-shadow: var(--focus-shadow);
    color: var(--text-color);
    font-size: large;
    margin: 0;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: var(--loadElement);

    #newbookbutton {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        margin-right: 48px;
        box-shadow: var(--box-shadow);
        position: fixed;
        animation:  var(--loadElement);
        border: none;
        top: 88vh;
        left: 94vw;
        cursor: pointer;
        font-size: 40px;
        color: var(--positive-color);
        transition: all 0.3s ease-in-out;
        background: var(--bg-convex);

        &:hover {
            border: none;
        }

        &:focus {
            box-shadow: var(--focus-shadow);
            border: none;
        }

        &:active {
            transform: scale(0.9);
            border: none;
            background: var(--bg-concave);
        }
    }
}

dialog {
    border-radius: 2%;
    border: none;
    box-shadow: var(--focus-shadow);
    background-color: var(--theme-color);
    color: var(--text-color);
    position: fixed;
    left: 83vw;
    animation: var(--loadElement);

    &.closing {
        animation: closeDialog 0.3s ease-out forwards;
    }

    &:hover,
    input:focus {
        box-shadow: var(--box-shadow);
        transition: all 300ms ease-in-out;
        transform: scale(1.01);
    }

    form {
        border: none;

        legend {
            text-align: left;
            color: var(--text-color);
            font-size: x-large;
        }

        fieldset {
            background-color: var(--theme-color);
            color: var(--text-color);
            display: flex;
            border: none;
            flex-direction: column;
            justify-content: space-evenly;
            height: auto;
            width: 200px;
            padding: 0;

                #addbookbutton {
                background: var(--bg-convex);
                width: 100px;
                align-self: center;
                background-color: var(--theme-color);
                border-radius: 32px;
                color: var(--positive-color);
                padding: 12px;
                border: none;
                box-shadow: var(--box-shadow);
                font-weight: 700;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                animation: var(--loadElement);                
                &:active {
                    transform: scale(0.9);
                    box-shadow: var(--focus-shadow);
                    background: var(--bg-concave);
                }
            }

                #modalclose {
                align-self: flex-end;
                border-radius: 100%;
                color: var(--remove-color);
                border: none;
                position: relative;
                cursor: pointer;
                left: 2ch;
                bottom: 4.5vh;
                box-shadow: var(--box-shadow);
                font-weight: 900;
                padding: var(--x-padding);
                margin: 0 8px;
                background: var(--bg-convex);
                animation: var(--loadElement);                
                &:hover {
                    background-color: var(--remove-color);
                    color: var(--text-color);
                }

                &:active {
                    color: var(--text-color);
                    box-shadow: var(--focus-shadow);
                    transform: scale(0.9);
                    background: var(--bg-concave);
                }
            }

            p {
                display: flex;
                flex-direction: column;
                gap: 8px;

                label {
                    font-size: large;
                }

                input {
                    border: none;
                    padding: 1rem;
                    border-radius: 1rem;
                    box-shadow: var(--focus-shadow);
                    color: var(--text-color);
                    transition: 0.3s;
                    font-weight: 700;
                    font-size: 14px;
                    background-color: var(--theme-color);
                    animation: var(--loadElement);
                }

                input:focus {
                    outline: none;
                    transition: 0.3s;
                    box-shadow: var(--inset-shadow);
                }

                #status {
                    color: var(--text-color);
                }
            }
        }
    }
}

#darkModeToggle {
    background: var(--bg-convex);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: relative;
    left: 43vw;
    border: none;
    animation: var(--loadElement);
    cursor: pointer;
    font-size: 24px;
    background-color: var(--theme-color);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    margin-right: 16px;
    transition: all 0.3s ease;

    svg {
        height: 24px;
        width: 24px;
    }

    &:focus {
        cursor: pointer;
    }

    &:active {
        background: var(--bg-concave);
        transform: scale(0.9);
        box-shadow: var(--focus-shadow);
    }
}

.book {
    padding: 8px;
    width: 300px;
    height: 200px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--theme-color);
    color: var(--text-color);
    box-shadow: var(--focus-shadow);
    transition: all 300ms ease;
    animation: var(--loadElement);

    &:hover {
        box-shadow: var(--box-shadow);

        .removebutton {
            box-shadow: var(--box-shadow);

        }

        .status {
            box-shadow: var(--box-shadow);
        }
    }
}

.removebutton {
    font-weight: 900;
    border-radius: 100%;
    border: none;
    align-self: end;
    box-shadow: var(--focus-shadow);
    cursor: pointer;
    padding: var(--x-padding);
    color: var(--remove-color);
    transition: all 0.3s ease-in-out;
    background: var(--bg-convex);
    animation: var(--loadElement) 0.3s;

    &:hover {
        color: var(--text-color);
        background-color: var(--remove-color);
    }

    &:active {
        transform: scale(0.9);
        background: var(--bg-concave);
    }
}

.name {
    padding: 0;
    margin: 8px;
    color: var(--text-color);
    font-weight: 700;
}

.author {
    margin: 8px;
    padding: 0;
    color: var(--text-color);
    font-weight: 700;
}

.pages {
    margin: 8px;
    padding: 0;
    color: var(--text-color);
    font-weight: 700;
}

.status[data-status="Read"] {
    color: var(--positive-color);
}

.status[data-status="Reading"] {
    color: var(--blue);
}

.status[data-status="Unread"] {
    color: var(--yellow);
}

.status {
    border: none;
    padding: 12px;
    margin: 16px;
    width: 100px;
    border-radius: 24px;
    box-shadow: var(--focus-shadow);
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease-out;
    text-align: center;
    background: var(--bg-convex);
    animation: var(--loadElement) 0.3s;
}

.status:active {
    transform: scale(0.95);
    background: var(--bg-concave);
}

.bookbuttons {
    display: flex;
    justify-content: flex-end;
}